<ion-header>
  <ion-navbar color="primary">
    <ion-title>Se connecter</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="auth-page">
  <img src="../../assets/imgs/wessalni.png" alt="Wessalni" padding-left/>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.touched"
      [class.valid]="loginForm.controls.email.valid && loginForm.controls.email.touched">
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Entrer votre email">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
     loginForm.controls.email.touched">
      <p>Entrer un email valide SVP!.</p>
    </ion-item>

    <ion-item [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.touched"
      [class.valid]="loginForm.controls.password.valid && loginForm.controls.password.touched">
      <ion-label stacked>Mot de passe</ion-label>
      <ion-input formControlName="password" type="password" placeholder="votre mot de passe">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid
    && loginForm.controls.password.touched">
      <p>Vous devez entrer un mdp de plus de 6 caractére.</p>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!loginForm.valid">
      Se connecter
    </button>
  </form>

  <button ion-button block clear (click)="goToSignup()">
    Créer un nouveau compte
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    mode de passe oublié :(
  </button>
</ion-content>